@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Baloo 2:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
}

.title h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  font-family: "Baloo 2", sans-serif;
  margin-bottom: 1rem;
}


.calbody {
  background-color: #02090e;
  padding: 1vw;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.9;
  font-family: "Baloo 2", sans-serif;
  max-width: 600px;
  width: 90%;
}

.display {
  height: 3vw;
  width: 100%;
  color: #d7e6fd;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: xx-large;
  overflow-x: auto;
  white-space: nowrap;
  font-family: "Baloo 2", sans-serif;
}

.buttondiv {
  display: flex;
  flex-wrap: wrap; /* Permite que os botões se movam para a próxima linha em telas menores */
  gap: 0.5vw; /* Espaçamento entre os botões */
  cursor: pointer;
}

.buttonbox {
  height: 5vw;
  width: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d7e6fd;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Baloo 2", sans-serif;
}


.orangebutton {
  color: #7890fb;
}

.equalbutton {
  background-color: #7890fb;
  border-radius: 50%;
}

/* Ajustes para botões em telas menores */
@media (max-width: 768px) {
  .buttons{
    font-size: 1rem;
  }

  .buttonbox {
    height: 21vw;
    width: 21vw;
    font-size: 1.75rem;
  }
  .display{
    max-width: 100%;
    min-height: 19vw;
  }
  .title h2 {
    font-size: 1.75rem;
  }

}

